<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.id})}" th:object="${user}">
	<table class="table-bordered">
		<thead class="thead-dark">
		<tr>
			<th colspan="1" scope="col" >Edit user:</th>
		</tr>
		</thead>

		<tbody>
		<tr>
			<!--ID:</th>-->
			<th>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">ID:</span>
					</div>
					<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
					       readonly th:field="*{id}" id="id"/>
				</div>
			</th>
		</tr>

		<tr>
			<!--      <th>Login:</th>-->
			<th>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Login:</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
					       readonly th:field="*{login}" id="login"/>
				</div>
			</th>
		</tr>

		<tr>
			<!--      <th>password:</th>-->
			<th>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Password:</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
					       th:field="*{password}" id="password"/>
				</div>
			</th>
		</tr>

		<tr>
			<th>
				<!--      <th>First name:</th>-->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">First name:</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
					       th:field="*{firstName}" id="fistName"/>
				</div>
			</th>
		</tr>

		<tr>
			<th>
				<!--      <th>Last name:</th>-->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Last name:</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
					       th:field="*{lastName}" id="lastName"/>
				</div>
			</th>
		</tr>

		<tr>
			<th>
				<!--      <th>Work Experience:</th>-->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Work Experience:</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
					       th:field="*{workExp}" id="workExp"/>
				</div>
			</th>
		</tr>

		<tr>
			<th>
				<!--      <th>Birth date: (yyyy-MM-dd)</th>-->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Birth date:</span>
					</div>
					<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
					       th:field="*{birthDate}" id="birthDate"/>
				</div>
			</th>
		</tr>
		</tbody>
	</table>

	<br/>
	<button type="submit" class="btn btn-success">Update</button>
</form>

<br/>
<form name="logoutForm" th:action="@{/logout}" th:method="POST">
	<button type="submit" class="btn btn-outline-danger">Sign out</button>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>