<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
	<table>
		<thead>
		<tr>
			<th colspan="2">Create new user:</th>
		</tr>
		</thead>

		<tbody>
		<tr>
			<th>Login:</th>
			<th><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			            th:field="*{login}" id="login"/></th>
		</tr>

		<tr>
			<th>Password: (not null)</th>
			<th><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			           th:field="*{password}" id="password"/></th>
		</tr>

		<tr>
			<th>First name:</th>
			<th><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			           th:field="*{firstName}" id="fistName"/></th>
		</tr>

		<tr>
			<th>Last name:</th>
			<th><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			           th:field="*{lastName}" id="lastName"/></th>
		</tr>

		<tr>
			<th>Work experience, years:</th>
			<th><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			           th:field="*{workExp}" id="workExp"/></th>
		</tr>

		<tr>
			<th>Birth date: (yyyy-MM-dd)</th>
			<th><input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
			           th:field="*{birthDate}" id="birthDate"/></th>
		</tr>

		<tr>
			<th >Role:</th>
			<th>
		<div class="input-group mb-3">
			<select class="custom-select" id="inputGroupSelect01">
				<option selected>Choose...</option>
				<option value="1">User</option>
				<option value="2">Admin</option>
			</select>
		</div>
			</th>
		</tr>

		</tbody>
	</table>
	<br/>
	<button type="submit" class="btn btn btn-success">Create</button>

	<br><br/>
	<form name="logoutForm" th:action="@{/logout}" th:method="POST">
		<button type="submit" class="btn btn-outline-primary">Sign out</button>
	</form>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>