<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}">
  <table>
    <thead>
    <tr>
      <th colspan="2">Edit user:</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <th>First name:</th>
      <th><input type="text" th:field="*{firstName}" id="fistName"/></th>
    </tr>

    <tr>
      <th>Last name:</th>
      <th><input type="text" th:field="*{lastName}" id="lastName"/></th>
    </tr>

    <tr>
      <th>Work Experience:</th>
      <th><input type="text" th:field="*{workExp}" id="workExp"/></th>
    </tr>

    <tr>
      <th>Birth date: (yyyy-MM-dd)</th>
      <th><input type="text" th:field="*{birthDate}" id="birthDate"/></th>
    </tr>

    </tbody>
  </table>

  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>