<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Users</h1>

<br/>
<a href="/SpringCRUD/users/new">Create new user</a>

<table border="5">
    <thead>
    <tr>
        <th colspan="5"> List of users:</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Work experience</th>
        <th>Birth date</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.firstName}">firstName</td>
        <td th:text="${user.lastName}">lastName</td>
        <td th:text="${user.workExp}">workExp</td>
        <td th:text="${user.birthDate}">birthDate</td>
                <td>
                    <form th:method="Get" th:action="@{/users/{id}(id=${user.getId()})}">
                        <input type="submit" value="Show"/>
                    </form>
                </td>
<!--        <td>-->
<!--            <form th:method="Edit" th:action="@{/users/delete{id}(id=${user.getId()})}">-->
<!--                <input type="submit" value="Edit"/>-->
<!--            </form>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form th:method="DELETE" th:action="@{/users/delete/id={id}(id=${user.getId()})}">-->
<!--                <input type="submit" value="Delete"/>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

</body>
</html>