<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'ID: ' + ${user.id}">VALUE</p>
<p th:text="'First name: ' + ${user.firstName}">VALUE</p>
<p th:text="'Last name: ' + ${user.lastName}">VALUE</p>
<p th:text="'Work Experience: ' + ${user.workExp}">VALUE</p>
<p th:text="'Birth date: ' + ${user.birthDate}">VALUE</p>

<br/>
<form th:method="GET" th:action="@{/users}">
    <input type="submit" value="Return"/>
</form>

<br/>
<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.id})}">
    <input type="submit" value="Edit user"/>
</form>

<br/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}">
    <input type="submit" value="Delete user"/>
</form>

</body>
</html>